
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --body-color: #000;
    --nav-background: rgba(255, 255, 255, 0.05);
    --font-color-one: #fff;
    --font-color-two: rgb(197, 197, 197);
    --fav-color: rgb(209, 118, 27);
    --font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body{
    background-color: var(--body-color);
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background-color: var(--nav-background);
    border-radius: 10px;
    margin: .7rem;
}

.nav__list li{
    display: inline-block;
    padding: 0pc 20px;

}

.nav__list li a, .nav__logo{
    transition: all .5s ease 0s;
}

.nav__logo{
    font-weight: 600;
    font-size: large;
}

.nav__logo:hover{
    color: var() !important;
}

.navbar a{
    color: var(--font-color-one);
}

.navbar a:hover{
    color: var(--fav-color);
    cursor: pointer;
}
